@charset "utf-8";
/* CSS Document */
.container {
    border-top: 1px solid #d9d9d9;
    height: 100%;
    margin-bottom: 15px;
    min-height: 764px;
    width: 100%;
	background:url(../images/exceptionimages/404_bg.jpg) repeat-x scroll 0 0;
}

.sec {
	width:1100px; height: 212px;
	margin:238px auto 0px;
}

.fileNotFound {
	width: 479px; height:212px;
	margin:0px auto;
}

.fileNotFound .fp{
	width:100%; height:176px;
	background:url(../images/exceptionimages/fof.jpg) no-repeat scroll 0 0;
}

.fileNotFound .rz {
	width:100%; height:36px;
	margin:0px auto;
}

.fileNotFound .rz .srz{
	width:394px; height:36px;
	margin:0px auto;
	padding:0px 18px 0px 67px;
}

.fileNotFound .rz .srz .pr {
	display:inline-block;
	width:197px; height:100%;
	float:left;
	overflow:hidden;
}

.fileNotFound .rz .srz .ind {
	display:inline-block;
	width:197px; height:100%;
	float:left;
	overflow:hidden;
}